{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form class="well span9 offset1" action="{{ path('csis_user_edit_lab', {'id': user.id}) }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
      <legend>Modifier le laboratoire de l'utilisateur {{ user.lastName}} {{ user.firstName }}</legend>
      {{ form_widget(form) }}
      <p class="help-block">Vous voyez les laboratoires de l'institution gérée par l'utilisateur, le laboratoire géré par l'utilisateur</p>
      <br />
      <div>
          <input class="btn btn-success" type="submit" value="Continuer" />
      </div>
    </fieldset>
</form>

{% endblock %}
