{% extends 'CSISUserBundle::layout.html.twig' %}

{% block csis_body %}
<div class="row">

    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
            <li><a href="{{ path('csis_eam_admin_index') }}">Administration</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
            <li class="active">Les utilisateurs</li>
        </ul>
    </div>

  <div class="span12">
      
    <h2>Liste des utilisateurs</h2>

    <table class="table table-hover table-striped csis-datatable">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom Prénom</th>
          <th>Email</th>
          <th>Laboratoire ou Établissement</th>
          <th>Téléphone</th>
          <th>Voir</th>
          <th>État</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ user.lastName }} {{ user.firstName }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% if user.lab %}
              <a href="{{ path('laboratory_show', {id: user.lab.id}) }}">{{ user.lab }}</a>
            {% elseif user.institution %}
              <a href="{{ path('institution_show', {id: user.institution.id}) }}">{{ user.institution }}</a>
            {% endif %}
          </td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <a href="{{ path('csis_user_show', {'id' : user.id}) }}" data-toggle="tooltip" title="Voir">
              <i class="icon-eye-open"></i>
            </a>
          </td>
          <td>
            {% if user.enabled %}
              <span style="display: none;">OK</span>
              <i class='icon icon-ok' data-toggle="tooltip" title="Compte activé"></i>
            {% else %}
              <span style="display: none;">KO</span>
              <i class='icon icon-ban-circle' data-toggle="tooltip" title="Compte désactivé"></i>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">
            <strong>Vous n'avez aucun utilisateur à afficher pour cette page !</strong><br />
            <a href="{{ path('csis_user_index') }}">Retour</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
