{% extends 'CSISUserBundle::layout.html.twig' %}

{% import 'CSISEamBundle:Eam:pagination.html.twig' as pagination %}

{% block csis_body %}
<div class="row">
  <div class="span12">
      
    <h2>Liste des utilisateurs</h2>

    <table class="table table-hover table-striped table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Login</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Voir</th>
          <th>État</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ loop.index + (page-1)*maxPerPage }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <a href="{{ path('csis_user_show', {'id' : user.id}) }}" data-toggle="tooltip" title="Voir">
              <i class="icon-eye-open"></i>
            </a>
          </td>
          <td>
            {% if user.enabled %}
              <i class='icon icon-ok' data-toggle="tooltip" title="Compte activé"></i>
            {% else %}
              <i class='icon icon-ban-circle' data-toggle="tooltip" title="Compte désactivé"></i>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">
            <strong>Vous n'avez aucun utilisateur à afficher pour cette page !</strong><br />
            <a href="{{ path('csis_user_index') }}">Retour</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {{ pagination.pagination('csis_user_index', page, nbPages) }}
      
  </div>
</div>
  
{% endblock %}
