{% extends 'CSISUserBundle::layout.html.twig' %}

{% import 'CSISEamBundle:Eam:pagination.html.twig' as pagination %}

{% block fos_user_content %}
<div class="span12">
  <h2>Utilisateur</h2>

  <div class="well">
    <dl class="dl-horizontal">
      <dt>Prénom</dt>
      <dd>{{ user.firstName }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Nom</dt>
      <dd>{{ user.lastName }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</dt>
      <dd>{{ user.username }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</dt>
      <dd>{{ user.email }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Rôles</dt>
        <dd>
          <ul>
            {% for role in user.formatedRoles %}
              <li>{{ role }}</li>
            {% endfor %}
          </ul>
        </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Laboratoire</dt>
      <dd>{{ user.lab }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Établissement</dt>
      <dd>{{ user.institution }}</dd>
    </dl>
  </div>

  <form action="{{ path('csis_user_delete', {'username': user.username}) }}" {{ form_enctype(delete_form) }} method="POST">
    <a href="{{ path('csis_user_index') }}" class="btn">
      <i class="icon-chevron-left"></i>&nbsp;Retour liste utilisateurs
    </a>
    <a href="{{ path('csis_user_edit', {'username': user.username}) }}" class="btn btn-success">
      <i class="icon-edit icon-white"></i>&nbsp;Modifier l'utilisateur
    </a>
    <button type="submit" class="btn btn-warning">
      <i class="icon-trash icon-white"></i>&nbsp;Supprimer l'utilisateur
    </button>
    {{ form_rest(delete_form) }}
  </form>
</div>
{% endblock %}
