{% for letter, equipements in equipements %}
    <ul class="nav nav-list">
        <li class="nav-header nav-title_1"><i class="icon-plus icn"></i><i class="icon-minus icn" style="display:none"></i>&nbsp;{{letter}} :</li>
        <ul class="nav nav-list nav-content_1">
            {% for equipment in equipements %}
                <li {% if card == "equipment" and equipment.id == id %} class="active" {% endif %}><a id="equipment_{{ equipment.id }}" class="ajax_refresh" href="{{ path('vitrine', { 'vitrine' : vitrine, 'card' : 'equipment', 'id': equipment.id }) }}#equipment_{{ equipment.id}}">{{ equipment.designation }}</a></li>
            {% endfor %}
        </ul>
        <li class="divider"></li>
    </ul>
{% endfor %}

