{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

<div class="row">
  <div class="span12">
      <ul class="breadcrumb">
          <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
          <li><a href="{{ path('institution_show', {id: laboratory.institution.id}) }}">{{ laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
          <li><a href="{{ path('laboratory_show', {id: laboratory.id}) }}">{{ laboratory.nameFr }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
          <li class="active">Propriétaires</li>
      </ul>
  </div>

  <div class="span10 offset1">
    <div class="well">
      <form action="{{ path('laboratory_credentials_edit', {'id': laboratory.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>Éditer les propriétaires du laboratoire {{ laboratory }}</legend>
          {{ form_widget(form) }}
          <br />
          <button type="submit" class="btn btn-success">Enregister</button>
          <a href="{{ path('laboratory_credentials', {'id': laboratory.id}) }}" class="btn">
             Annuler
          </a>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#csis_eambundle_laboratoryEditOwnerstype_owners").chosen({disable_search_threshold: 10, no_results_text: "Aucun résultat",placeholder_text_multiple: 'Sélectionner les propriétaires', });
        });
    </script>
{% endblock %}
