{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
    <div class="row">
        <div class="span12">
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}
            {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}

            <ul class="breadcrumb">
                <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('institution_show', {id: laboratory.institution.id}) }}">{{ laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('laboratory_show', {id: laboratory.id}) }}">{{ laboratory.nameFr }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li class="active">Édition</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form action="{{ path('laboratory_update', { 'id': laboratory.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well span10 offset1">
            <fieldset>
                <legend>
                  Modification d'un laboratoire
                  <a href="{{ path('laboratory') }}" class="btn btn-default pull-right" data-toggle="tooltip" title="Retour à la liste des Laboratoires">
                    <i class="icon-list-alt"></i>
                    Liste
                  </a>
                  <a href="{{ path('laboratory_credentials_edit', {id: laboratory.id}) }}" class="btn btn-info pull-right" data-toggle="tooltip" title="Gérer les propriétaires">
                    <i class="icon-user icon-white"></i>
                    Gérer les propriétaires
                  </a>
                  <a href="{{ path('laboratory_ask_delete', { 'id': laboratory.id }) }}" class="btn btn-danger pull-right" data-toggle="tooltip" title="Supprimer le laboratoire">
                    <i class="icon-trash icon-white"></i>
                    Supprimer le laboratoire
                  </a>
                </legend>
                {{ form_widget(edit_form) }}
                <div class="pull-right">
                    <a href="{{ path('laboratory_show', {id: laboratory.id }) }}" type="button" class="btn btn-default">
                        <i class="icon-chevron-left"></i>
                        Retour
                    </a>
                    <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Appliquer les modifications">
                        <i class="icon-share-alt icon-white"></i>
                        Appliquer
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
