{% extends 'CSISEamBundle::layout.html.twig' %}
{% import 'CSISEamBundle:Eam:pagination.html.twig' as pagination %}

{% block csis_body %}

<div class="row">
  <div class="span12">
    {% include 'CSISEamBundle:Eam:flash.html.twig' %}
    {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}
  </div>
</div>

<div class="row">
  {# Liste des laboratoires #}
  <div class="span12">
    <div class="well"> 
      <h4>Liste des laboratoires
        {# Definition des bouttons #}
        <div class="pull-right">       
          <a class="btn btn-success" href="{{ path('laboratory_new') }}" data-toggle="tooltip" title="Créer un nouveau labo">
            <i class="icon-plus icon-white"></i> Ajouter
          </a>
         <a href="{{ url('csis_eam_admin_index') }}" class="btn">Retour</a>
        </div>
      </h4>

      <table class="table table-striped table-hover" style="max-height:400px;overflow:auto">               
        <thead>
          <tr>
            <th>Acronym</th>
            <th>Etablissement</th>
            <th>Nom (FR)</th>
            <th>Name (EN)</th>
            <th>CSIS</th>
            <th>Recherche</th>
            <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
          </tr>
        </thead>

        <tbody id="tablebody">
        {# Affiche tous les laboratoires par ordre alphabétique #}
        {% for laboratory in laboratories %}
          <tr>
            <td>{{ laboratory.acronym }}</td> {# Acronym du labo #}
            <td>{{ laboratory.institution.name }}</td> {# Nom francais du labo #}
            <td>{{ laboratory.nameFr }}</td> {# Nom francais du labo #}
            <td>{{ laboratory.nameEn }}</td> {# Nom francais du labo #}
            <td>{% if laboratory.belongToCSIS=='0' %} Non {% else %} Oui {% endif %}</td> {# Nom francais du labo #}
            <td>{% if laboratory.researchLaboratory=='0' %} Non {% else %} Oui {% endif %}</td>{# Nom francais du labo #}
            <td><a href="{{ path('laboratory_show', { 'id': laboratory.id }) }}" class="icon-eye-open" data-toggle="tooltip" title="Afficher" ></a></td> {# Afficher #}
          {% if is_granted("ROLE_GEST_LAB") %}
            <td><a href="{{ path('laboratory_edit', { 'id': laboratory.id }) }}" class="icon-edit" data-toggle="tooltip" title="Modifier" ></a></td> {# Modifier #}
            <td><a href="{{ path('laboratory_ask_delete', { 'id': laboratory.id }) }}" class="icon-trash" data-toggle="tooltip" title="Supprimer" ></a></td> {# Supprimer #}
          {% endif %}
          </tr>
        {% else %}
          <tr>
            <td colspan="9">
              <strong>Il n'y a aucun laboratoire à afficher pour la page {{ page }} !</strong><br />
              <a href="{{ path('laboratory') }}">Retour</a>
            </td>
          </tr>
        {% endfor %}                    
        </tbody>               
      </table>
    </div>

    {{ pagination.pagination('laboratory', page, nbPages) }}

  </div>
</div>
{% endblock %}