{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
    <div class="row">
        <div class="span12">
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}
            {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}

            <ul class="breadcrumb">
                <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('institution_show', {id: institution.id}) }}">{{ institution.name|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li class="active">Édition</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form action="{{ path('institution_update', { 'id': institution.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well span10 offset1">
            <fieldset>
                <legend>
                  Modification d'un établissement
                  <a href="{{ path('institution') }}" class="btn btn-default pull-right" data-toggle="tooltip" title="Retour à la liste des établissements">
                    <i class="icon-list-alt"></i>
                    Liste des établissements
                  </a>
                  <a href="{{ path('institution_ask_delete', { 'id': institution.id }) }}" class="btn btn-danger pull-right" data-toggle="tooltip" title="Supprimer l'établissement">
                    <i class="icon-trash icon-white"></i>
                    Supprimer l'établissement
                  </a>
                </legend>
                {{ form_widget(edit_form) }}

                {# Boutons #}
                <div class="pull-right">
                    <a href="{{ path('institution_show', {id: institution.id }) }}" type="button" class="btn btn-default">
                        <i class="icon-chevron-left"></i>
                        Retour
                    </a>
                    <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Appliquer les modifications">
                        <i class="icon-share-alt icon-white"></i>
                        Appliquer
                    </button>
                </div>
            </fieldset>
            {{ form_rest(edit_form) }}
        </form>
    </div>
{% endblock %}