{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
    <div class="row">
        <div class="span12">
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}
            {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}

            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                    <li><a href={{ path('csis_eam_admin_index') }}>Administration</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                    <li><a href={{ path('institution') }}>Les établissements</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                    <li class="active">Création</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        {% include 'CSISEamBundle:Eam:flash.html.twig' %}
        <form action="{{ path('institution_create') }}" method="post" {{ form_enctype(form) }} class="well span10 offset1">
            <fieldset>
                <legend>
                  Céation d'un établissement
                  <a href="{{ path('institution') }}" class="btn btn-default pull-right" data-toggle="tooltip" title="Retour à la liste des établissements">
                    <i class="icon-list-alt"></i>
                    Liste des établissements
                  </a>
                </legend>
                {{ form_widget(form) }}

                {# Boutons #}
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-share-alt icon-white"></i>
                        Créer l'établissement
                    </button>
                    <a href="{{ url('csis_eam_admin_index') }}" class="btn">Annuler</a>
                </div>
            </fieldset>
           {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}