{# Propritétés de l'etablissement sélectionné #}
<h3>{{ institution.name }} <small>({{ institution.acronym }})</small></h3>

<p>
  <a href="{{ institution.url }}">{{ institution.url }}</a>
</p>

<p>
  {{ institution.description|nl2br }}
</p>