<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li><a href="{{ path('csis_eam_admin_index') }}">Administration</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li class="active">Réinitialiser le mot de passe</li>
    </ul>
</div>

<form class="well span4 offset1" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
        <a href="{{ url('csis_eam_admin_index') }}" class="btn">Annuler</a>
    </div>
</form>
