{% macro pagination(road, page, nbPages) %}
    
{% if nbPages > 1 %}

{% set min = page - csis_max_in_pagination %}
{% if min < 1 %}{% set min = 1 %}{% endif %}
{% set max = page + csis_max_in_pagination %}
{% if max > nbPages %}{% set max = nbPages %}{% endif %}

<div class="pagination pagination-centered">
  <ul>
  {% if page > 1 %}
    <li><a href="{{ path(road, {'page': page - 1}) }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}
            
  {% if (page - csis_max_in_pagination) > 1 %}
    <li><a href="{{ path(road, {'page': 1}) }}">1</a></li>
    {% if (page - csis_max_in_pagination) > 2 %}
      <li class="disabled"><a href="#">...</a></li>
    {% endif %}
  {% endif %}
                        
  {% for p in range(min, max) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path(road, {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
        
  {% if page < (nbPages - csis_max_in_pagination) %}
    {% if page < (nbPages - csis_max_in_pagination - 1) %}
      <li class="disabled"><a href="#">...</a></li>
    {% endif %}
    <li><a href="{{ path(road, {'page': nbPages}) }}">{{ nbPages }}</a></li>
  {% endif %}
        
  {% if page < nbPages %}
    <li><a href="{{ path(road, {'page': page + 1}) }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
  </ul>
</div>
{% endif %}

{% endmacro %}

{% macro pagination_onglet(road, page, nbPages, onglet) %}
    
{% if nbPages > 1 %}

{% set min = page - csis_max_in_pagination %}
{% if min < 1 %}{% set min = 1 %}{% endif %}
{% set max = page + csis_max_in_pagination %}
{% if max > nbPages %}{% set max = nbPages %}{% endif %}

<div class="pagination pagination-centered pagination-small">
    <ul>
    {% if page > 1 %}
        <li><a href="{{ path(road, {'onglet': onglet, 'page': page - 1}) }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
            
    {% if (page - csis_max_in_pagination) > 1 %}
        <li><a href="{{ path(road, {'onglet': onglet, 'page': 1}) }}">1</a></li>
        {% if (page - csis_max_in_pagination) > 2 %}
        <li class="disabled"><a href="#">...</a></li>
        {% endif %}
    {% endif %}
                        
    {% for p in range(min, max) %}
        <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path(road, {'onglet': onglet, 'page': p}) }}">{{ p }}</a>
        </li>
    {% endfor %}
        
    {% if page < (nbPages - csis_max_in_pagination) %}
        {% if page < (nbPages - csis_max_in_pagination - 1) %}
        <li class="disabled"><a href="#">...</a></li>
        {% endif %}
        <li><a href="{{ path(road, {'onglet': onglet, 'page': nbPages}) }}">{{ nbPages }}</a></li>
    {% endif %}
        
    {% if page < nbPages %}
        <li><a href="{{ path(road, {'onglet': onglet, 'page': page + 1}) }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    </ul>
</div>
{% endif %}

{% endmacro %}
