{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li class="active">Connexion</li>
    </ul>
</div>

{% if error %}
<div class="alert alert-error offset1 span9">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error|trans({}, 'FOSUserBundle') }}
</div>
{% endif %}

<div class="row">
    <div class="span10 offset1 well">
        <h4>Veuillez vous authentifier</h4>
        <p>
            L'authentification est nécessaire pour accéder aux fonctionnalités avancées de cette plateforme.
        </p>
    </div>
</div>


<div class="span3 offset4 well">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <label for="remember_me" class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>

        <br />
        <center><input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /></center>
    </form>
    <p class="pull-right"><a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié ?</a></p>
</div>

{% endblock fos_user_content %}
