{% extends '::base.html.twig' %}

{% block title %}Collège des Sciences de l&#039;Ingénierie et des Systèmes{% endblock %}

{% block stylesheets %}
  {# <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}"> #}
<link rel="stylesheet" type="text/css" href="{{ asset("css/bootstrap-2.3.1.min.css") }}">
<link rel="stylesheet" type="text/css" href="{{ asset("css/smoothness/jquery-ui-1.10.3.min.css") }}">
<link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">
<link rel="stylesheet" type="text/css" href="{{ asset("css/chosen.min.css") }}">
{% endblock %}

{% block javascripts %}
  {# <script type="text/javascript" src="{{ asset("js/script.js") }}"></script> #}
<script type="text/javascript" src="{{ asset("js/jquery-1.9.1.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/jquery-ui-1.10.3.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/bootstrap-2.3.1.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/chosen.jquery.min.js") }}"></script>
<script>$("[data-toggle='tooltip']").tooltip();</script>
{% javascripts output="js/csis.js"
    '../vendor/hammerjs/hammer.js/hammer.js'
    '../vendor/hammerjs/jquery.hammer.js/jquery.hammer.js'
    '../vendor/twitter/typeahead.js/dist/bloodhound.js'
    '../vendor/twitter/typeahead.js/dist/typeahead.bundle.js'
    '../vendor/twitter/typeahead.js/dist/typeahead.jquery.js'
    'bundles/fosjsrouting/js/router.js'
    '@CSISEamBundle/Resources/public/js/csis-search.js'
    '@CSISEamBundle/Resources/public/js/csis.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block page_js %}{% endblock %}
{% endblock %}

{% block body %}

<div class="container">

  <div class="row">
    <div class="span12">
      
      <a href="{{ path('csis_eam_homepage') }}" ><img alt="banniere" src="{{ asset("img/ban_CSIS.jpg") }}" /></a>
      
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="http://csissaclay.wordpress.com/">&larr; Retour CSIS</a></li>
            <li><a href="{{ path('vitrine') }}">Vitrine</a></li>
              {% if is_granted("ROLE_USER") %}
                  <li><a href="{{ path("csis_eam_admin_index") }}">Administration</a></li>
              {% endif %}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
              {% else %}
                  <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
              {% endif %}
              <li>
          </ul>
          <div class="pull-right">
            <ul class="nav">

                    <div class="input-group search-bar-group">
                        <input
                                type="text"
                                class="form-control typeahead"
                                placeholder="Recherche"
                                id="search-bar-input"
                                name="query"
                                aria-describedby="search-bar-addon"
                                autocomplete="off"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                data-search-equipement-name-limit="{{ constant('CSIS\\EamBundle\\Controller\\SearchController::SEARCH_EQUIPMENTS_NAME_RESULTS') }}"
                                data-search-equipement-tags-limit="{{ constant('CSIS\\EamBundle\\Controller\\SearchController::SEARCH_EQUIPMENTS_TAGS_RESULTS') }}"
                                />
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}
    </div>
  </div>
    
  {% block csis_body %}{% endblock %}
      
  <div class="row">
    <div class="span12">
      <hr />
      <div class="pull-center" style="padding-bottom: 30px">
        <img alt="sponsors" src="{{ asset("img/sponsors.jpg") }}" /><br /><br />
        <small class="muted">
          Portail réalisé en 2013 par des
          <span data-toggle="tooltip" title="Julien BEAUSSIER, Cédric BOULET-KESSLER, Stéphanie CHOU, Céline DANGLET, Vaïk DUHAUTOIS, Faouzi GAZZAH">
            <u>apprentis</u>
          </span> 
          en informatique de Polytech Paris-Sud
          <br/>
          Refonte agile du portail en 2014 par <a style="color: inherit; text-decoration: underline;" href="https://linkedin.com/in/ghribi" target="_blank">Samy GHRIBI</a>, étudiant à Centrale Paris.
        </small>
      </div>
    </div>
  </div>
      
</div>

{% endblock %}
