{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
    <div class="row">
        <div class="offset1 row10">
            {# Notifications #}
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}

            <ul class="breadcrumb">
                <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('institution_show', {id: equipment.laboratory.institution.id}) }}">{{ equipment.laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('laboratory_show', {id: equipment.laboratory.id}) }}">{{ equipment.laboratory.nameFr|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href={{ path('equipment_show', {id: equipment.id}) }}>{{ equipment.designation|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li class="active">Tags</li>
            </ul>

            <form action="{{ path('equipment_edit_tags', {id: equipment.id}) }}" method="POST" class="text-center" {{ form_enctype(form) }}>

                <h3 class="pull-center">Gestion des tags de cet équipement</h3>

                <p class="text-error">{{ form_errors(form) }}</p>
                <div class="row-fluid">

                    <div class="span6 text-center">
                        <h4>Tags associés</h4>

                        <div class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                            {% for tag in form.tags %}
                                {{ form_row(tag) }}
                            {% endfor %}
                        </div>
                        <br/>
                        <a id="add_new_tag" class="btn btn-primary offset1">
                            <i class="icon-plus icon-white"></i>
                            &nbsp;Ajouter un tag
                        </a>
                    </div>

                    <div class="span6 text-center">
                        <h4>Tags suggérés</h4>

                        <div class="suggestions">
                            {% for tag in suggestedTags %}
                                <a class="btn btn-block btn-link suggestion" href="#" data-value="{{ tag.tag }}"><i class="icon icon-plus"></i> {{ tag.tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ form_row(form._token) }}
                <hr/>

                <button class="btn btn-success pull-center" type="submit"><i class="icon icon-refresh icon-white"></i> Mettre à jour</button>
            </form>

        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            // Récupère le div qui contient la collection des contacts
            var collectionHolderTag = $('div.tags');
            var add_buttonTag = $('#add_new_tag');
            var suggestionsTag = $('.suggestion');


            // ajoute un lien de suppression à tous les éléments li de
            // formulaires de tags existants
            collectionHolderTag.children('div').each(function() {
                attachAjax($(this).children('input'), '{{ url('tag_autocomplete') }}');
                addTagFormDeleteLink($(this));
            });

            add_buttonTag.on('click', function(e) {
                // ajoute un nouveau formulaire contact (voir le prochain bloc de code)
                e.preventDefault();
                $newForm = addTagForm(collectionHolderTag);
            });

            suggestionsTag.on('click', function(e) {
                e.preventDefault();
                tag = $(this).data('value');
                $newForm = addTagForm(collectionHolderTag);
                $newForm.find('input').val(tag);
                $(this).hide();
            });

        });

        function addTagForm(collectionHolder) {
            // Récupère l'élément ayant l'attribut data-prototype
            var prototype = collectionHolder.attr('data-prototype');
            var length = collectionHolder.children().length;
            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var $newForm = $('<div><label>Nom du tag :</label>' + prototype.replace(/__name__/g, length) + '</div>');

            // Affiche le formulaire dans la page dans un div, avant le lien "ajouter un tag"
            collectionHolder.append($newForm);
            attachAjax($newForm.children('input'), '{{ url('tag_autocomplete') }}');
            // ajoute un lien de suppression au nouveau formulaire
            addTagFormDeleteLink($newForm);

            return $newForm;
        }

        function addTagFormDeleteLink($tagForm) {
            var $removeFormButton = $('<a class="btn btn-warning"><i class="icon-trash icon-white"></i></a>');
            var $input = $tagForm.children('input');

            $input.wrap('<div class="input-append" />');
            $input.parent().append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // supprime l'élément div pour le formulaire de tag
                e.preventDefault();
                $tagForm.remove();
            });
        }

        function attachAjax($input, url) {
            $input.autocomplete({
                source: function(requete, reponse) {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        type: 'POST',
                        data: {
                            input: $input.val()
                        },
                        success: function(donnee) {
                            reponse(donnee);
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
