{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

    <div class="row">
        <div class="span12">
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}
        </div>
    </div>

    <ul class="breadcrumb">
        <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li><a href="{{ path('institution_show', {id: equipment.laboratory.institution.id}) }}">{{ equipment.laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li><a href="{{ path('laboratory_show', {id: equipment.laboratory.id}) }}">{{ equipment.laboratory.nameFr|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li><a href={{ path('equipment_show', {id: equipment.id}) }}>{{ equipment.designation|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
        <li class="active">Édition</li>
    </ul>

    <div class="row">
        <div class="offset1 span10">
            <form action="{{ path('equipment_update', {'id' : equipment.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

            {% include "CSISEamBundle:Equipment:form_content.html.twig" with
              {
                'title': 'Modification d\'un équipement',
                'icon_type'  : 'icon-refresh icon-white',
                'button_name': 'Mettre à jour l\'équipement',
                'button_back_name': 'Retour'
              }
            %}
        </form>
      </div>
    </div>
    <hr/>
{% endblock %}

{% block page_js %}
  {% include "CSISEamBundle:Equipment:form_js.html.twig" %}
{% endblock %}