{% extends 'CSISEamBundle::layout.html.twig' %}

{# @TODO: séparer html/js #}


{% block csis_body %}
    <div class="row">
        <div class="offset1 row10">
            {# Notifications #}
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}

            <ul class="breadcrumb">
                <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('institution_show', {id: equipment.laboratory.institution.id}) }}">{{ equipment.laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href="{{ path('laboratory_show', {id: equipment.laboratory.id}) }}">{{ equipment.laboratory.nameFr|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li><a href={{ path('equipment_show', {id: equipment.id}) }}>{{ equipment.designation|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
                <li class="active">Tags</li>
            </ul>

            <pre>CETTE PAGE N'EST PAS ENCORE FONCTIONNELLE !</pre>

            <form action="{{ path('equipment_edit_tags', {id: equipment.id}) }}" method="POST" {{ form_enctype(form) }}>

                <h3 class="pull-center">Gestion des tags de cet équipement</h3>
                <div class="row-fluid">

                    <div class="span6 text-center">

                        {# Tags acceptés #}
                        <h4>Tags acceptés</h4>
                        <table class="tags table" data-prototype="{{ form_widget(form.equipmentTags.vars.prototype)|e }}" id="accepted">
                            <tbody>
                                {% for equipmentTag in form.equipmentTags if equipmentTag.vars.value.status is constant('CSIS\\EamBundle\\Entity\\EquipmentTag::ACCEPTED') %}
                                    <tr class="tag success" data-status="{{ constant('CSIS\\EamBundle\\Entity\\EquipmentTag::ACCEPTED') }}">
                                        <td>
                                            {{ form_row(equipmentTag.status) }}
                                            {{ form_row(equipmentTag.tag) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-info"><i class="icon icon-plus icon-white"></i> Ajouter un tag</a>

                        <hr/>

                        {# Tags rejetés #}
                        <h4>Tags rejetés</h4>
                        <table class="tags table" data-prototype="{{ form_widget(form.equipmentTags.vars.prototype)|e }}" id="refused">
                            <tbody>
                                {% for equipmentTag in form.equipmentTags if equipmentTag.vars.value.status is constant('CSIS\\EamBundle\\Entity\\EquipmentTag::REFUSED') %}
                                    <tr class="tag error" data-status="{{ constant('CSIS\\EamBundle\\Entity\\EquipmentTag::REFUSED') }}">
                                        <td>
                                            {{ form_row(equipmentTag.tag) }}
                                            {{ form_row(equipmentTag.status) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-info"><i class="icon icon-plus icon-white"></i> Ajouter un tag</a>
                    </div>


                    <div class="span6 text-center">
                        <h4>Tags suggérés</h4>
                        <p class="muted">Ces tags sont suggérés à partir des tags acceptés/rejetés, et à partir de la description donnée à l'équipement (À venir...).</p>
                        <table class="table" data-prototype="{{ form_widget(form.equipmentTags.vars.prototype)|e }}" id="refused">
                            <tbody>
                            {% set suggestedTags = ['example 1', 'example 2', 'example 3'] %} {# TODO #}
                            {% for tag in suggestedTags %}
                                <tr class="tag info">
                                    <td>
                                        {{ tag }}
                                    </td>
                                    <td>
                                        <a href="#"><i class="icon icon-ok"></i></a>
                                    </td>
                                    <td>
                                        <a href="#"><i class="icon icon-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <h4>Proposer un tag non existant</h4>
                        <div>
                            <p class="muted">
                                Le tag proposé sera lié à cet équipement, mais sera sujet à modération. Une fois le tag accepté par un modérateur, il sera visible sur la fiche d'équipement sans action de votre part.
                            </p>

                            <form class="well">
                                <input type="text" />
                                <br/>
                                <a href="#" class="btn btn-default">Proposer un nouveau tag</a>
                            </form>
                        </div>
                    </div>

                </div>
                {{ form_row(form._token) }}
                <hr/>

                <button class="btn btn-success pull-center" type="submit"><i class="icon icon-refresh icon-white"></i> Mettre à jour</button>
            </form>

        </div>
    </div>

    <script type="text/javascript">
        /** Equipment Tag labels **/
        equipmentTagLabel();
        equipmentTagHideStatus();

        function equipmentTagLabel() {
            $('.equipment-tag-label-new').each(function() {
                $(this).removeClass('equipment-tag-label-new');
                $('<label class="equipment-tag-label">' + $(this).find(":selected").text() + '</label>').insertAfter($(this));
                $(this).hide();
            });
        }

        function equipmentTagHideStatus() {
            $('.equipment-tag-status').each(function() {
                $(this).hide();
            });
        }

        $('.tags').find('.tag').each(function() {
            addDeleteBtn($(this));
        });

        function addDeleteBtn(element) {
            var $deleteBtn = $('<td><a href="#" class="delete-btn"><i class="icon icon-trash"></i></a></td>');
            $deleteBtn.appendTo(element);

            $deleteBtn.children('.delete-btn').on('click', function(e) {
                e.preventDefault();
                element.remove();
            });
        }

    </script>

{% endblock %}
