<div class="page-header">
    <h3>{{ title }}</h3>
</div>

{% if not form.vars.valid %}
    <div class="alert alert-error">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div class="well">
    <fieldset>
        <legend>
            Informations générales
        </legend>
        {% set fields = [form.designation, form.brand, form.type, form.url, form.description, form.shared, form.laboratory] %}

        {% for field in fields %}
            <div class="control-group">
                <label class="control-label">{{ form_label(field) }}</label>
                <div class="controls">
                    {{ form_widget(field, {'attr': {'class': 'input-block-level'}}) }}
                </div>
                <div class="text-error">
                    {{ form_errors(field) }}
                </div>
            </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>
            Emplacement
        </legend>
        {% set fields = [form.building, form.floor, form.room] %}

        {% for field in fields %}
            <div class="control-group">
                <label class="control-label">{{ form_label(field) }}</label>
                <div class="controls">
                    {{ form_widget(field, {'attr': {'class': 'input-block-level'}}) }}
                </div>
                <div class="text-error">
                    {{ form_errors(field) }}
                </div>
            </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>
            Propriétaires
        </legend>

        <div class="owners offset1" data-prototype="{{ form_widget(form.owners.vars.prototype)|e }}">
            {% for o in form.owners %}
                {{ form_row(o) }}
            {% endfor %}
        </div>
        <br/>
        <a id="add_new_owner" class="btn btn-primary offset1">
            <i class="icon-plus icon-white"></i>
            &nbsp;Ajouter un propriétaire
        </a>

    </fieldset>

    {{ form_rest(form) }}

    <hr />

    <div class="form-actions">
        {% if equipment.id %}
            <a class="btn" href="{{ path('equipment_show', {'id': equipment.id}) }}">
                <i class="icon-chevron-left"></i>&nbsp;{{ button_back_name }}
            </a>
        {% endif %}
        <a class="btn" href="{{ path('equipment') }}">
            <i class="icon-list-alt"></i>&nbsp;Liste des équipements
        </a>
        <button type="submit" class="btn btn-success">
            <i class="{{ icon_type }}"></i>&nbsp;{{ button_name }}
        </button>
    </div>
</div>
