{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
<div class="row">
  <div class="span12">
    {% include 'CSISEamBundle:Eam:flash.html.twig' %}

      <div class="span12">
          <ul class="breadcrumb">
              <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
              <li><a href={{ path('csis_eam_admin_index') }}>Administration</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
              <li class="active">Les équipements</li>
          </ul>
      </div>
  </div>
</div>

<div class="row">        
  <div class="span12">
    <div class="well">
      
      <h4 class="span11">Liste des équipements
        {# Definition des bouttons #}
          {% if is_granted('ROLE_GEST_EQUIP') %}
            <div class="pull-right">
                <a class="btn btn-success" href="{{ path('equipment_new') }}" data-toggle="tooltip" title="Créer un nouvel Equipement">
                    <i class="icon-plus icon-white"></i>
                    Ajouter
                </a>
            </div>
          {% endif %}
      </h4>
      
      <table class="table table-striped table-hover csis-datatable">
        <thead>
          <tr>
            <th>Designation</th>
            <th style="text-align:center;">Laboratoire</th>
            <th style="text-align:center;">Localisation</th>
            <th style="text-align:center;">Nombre de tags</th>
            <th style="text-align:center;">Disponible</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for entity in entities if is_granted('edit', entity) or entity.laboratory == app.user.lab or entity.laboratory.institution == app.user.institution %}
          <tr>
            <td>{{ entity.designation }}</td>
            <td style="text-align:center;"><a href="{{ path('laboratory_show', {id: entity.laboratory.id}) }}">{{ entity.laboratory.acronym }}</a></td>
            <td style="text-align:center;">{{ entity.building }} {{ entity.floor }} {{ entity.room }}</td>
            <td style="text-align:center;">{{ entity.tags|length }}</td>
            <td style="text-align:center;">
                {% if entity.shared == constant('CSIS\\EamBundle\\Entity\\Equipment::SHARED') %}
                    Oui
                {% elseif entity.shared == constant('CSIS\\EamBundle\\Entity\\Equipment::DISCUTABLE') %}
                    À discuter
                {% elseif entity.shared == constant('CSIS\\EamBundle\\Entity\\Equipment::NOT_SHARED') %}
                    Non
                {%  endif  %}
            </td>
            <td>
                <a href="{{ path('equipment_show', { 'id': entity.id }) }}" class="icon-eye-open" data-toggle="tooltip" title="Afficher" ></a>
                {% if is_granted('edit', entity) %}
                    <a href="{{ path('equipment_edit', { 'id': entity.id }) }}" class="icon-edit" data-toggle="tooltip" title="Modifier" ></a>
                    <a href="{{ path('equipment_ask_delete', { 'id': entity.id }) }}" class="icon-trash" data-toggle="tooltip" title="Supprimer" ></a>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
