{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

<div class="row">
  <div class="span12">
    {% include 'CSISEamBundle:Eam:flash.html.twig' %}

      <div class="span12">
          <ul class="breadcrumb">
              <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
              <li><a href={{ path('csis_eam_admin_index') }}>Administration</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
              <li><a href={{ path('equipment') }}>Les équipements</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
              <li class="active">Création</li>
          </ul>
      </div>
  </div>
</div>

<div class="row">
  {# Notifications #}
  {% include 'CSISEamBundle:Eam:flash.html.twig' %}

  <div class="offset1 span10">
      {# Formulaire de création d'équipement #}
      <form action="{{ path('equipment_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

          {% include "CSISEamBundle:Equipment:form_content.html.twig" with
          {
              'title': 'Création d\'un équipement',
              'icon_type'  : 'icon-plus icon-white',
              'button_name': 'Créer l\'équipement',
              'button_back_name': 'Annuler'
          }
          %}

      </form>
  </div>
</div>

{% endblock %}

{% block page_js %}
  {% include "CSISEamBundle:Equipment:form_js.html.twig" %}
{% endblock %}