{# Propritétés de l'equipement sélectionné #}
<h3>{{ equipment.designation }}</h3>

<hr/>

<dl>
  <dt>Description</dt>
  <dd>{{ equipment.description|nl2br }}</dd>
</dl>

<div class="row">	
	<dl class="span3">
	  <dt>Marque</dt>
	  <dd>
		{% if equipment.brand is not empty %}
			{{ equipment.brand }}
		{% else %}
			<span class="muted">Aucune info</span>
		{% endif %}
	  </dd>
	</dl>
	<dl class="span4">
	  <dt>Type</dt>
	  <dd>
		{% if equipment.type is not empty %}
			{{ equipment.type }}
		{% else %}
			<span class="muted">Aucune info</span>
		{% endif %}
	  </dd>
	</dl>
</div>

<dl>
  <dt>Adresse Web</dt>
  <dd>
	  {% if equipment.url is not empty %}
		<a href="{{ equipment.url }}" target="_blank">{{ equipment.url }}</a>
	  {% else %}
		<span class="muted">Aucune adresse Web</span>
	  {% endif %}
   </dd>
</dl>

<dl>
  <dt>Tags</dt>
  <dd>
	{# On n'affiche que les tags valides #}
	{% set tags=[] %}
	{% for tag in equipment.tags %}
		{% if tag.status == 1 %}
			{% set tags=[tag]|merge(tags) %}
		{% endif %}
	{% endfor %}

	{% if equipment.tags is not empty %}
	<ul class="inline">
		{# Tri par ordre alphabétique #}
		{% set tagCanonical={} %}
		{% for tag in tags %}
			{% set tagCanonical={ (tag.tag) : (tag.tagCanonical) }|merge(tagCanonical) %}
		{% endfor %}

		{% for name, nameCanonical in tagCanonical|sort %}
			<li>{{ name }}</li>
		{% endfor %}
	</ul>
	{% else %}
		<span class="muted">Aucun tag associé</span>
	{% endif %}
	</dd>
</dl>
