{# Propritétés de l'equipement sélectionné #}
<h3>{{ equipment.designation }}</h3>

<hr/>

<dl>
  <dt>Description</dt>
  <dd>{{ equipment.description|nl2br }}</dd>
</dl>

<div class="row">	
	<dl class="span3">
	  <dt>Marque</dt>
	  <dd>
		{% if equipment.brand is not empty %}
			{{ equipment.brand }}
		{% else %}
			<span class="muted">Aucune info</span>
		{% endif %}
	  </dd>
	</dl>
	<dl class="span4">
	  <dt>Type</dt>
	  <dd>
		{% if equipment.type is not empty %}
			{{ equipment.type }}
		{% else %}
			<span class="muted">Aucune info</span>
		{% endif %}
	  </dd>
	</dl>
</div>

<dl>
  <dt>Adresse Web</dt>
  <dd>
	  {% if equipment.url is not empty %}
		<a href="{{ equipment.url }}" target="_blank">{{ equipment.url }}</a>
	  {% else %}
		<span class="muted">Aucune adresse Web</span>
	  {% endif %}
   </dd>
</dl>

<dl>
    <dt>Tags</dt>
    <dd>
        <ul class="inline">
            {% for equipmentTag in equipment.equipmentTags if equipmentTag.status is constant('CSIS\\EamBundle\\Entity\\EquipmentTag::ACCEPTED') and equipmentTag.tag.status is constant('CSIS\\EamBundle\\Entity\\Tag::ACCEPTED')  %}
                <li>{{ equipmentTag.tag.tag }}</li>
            {% else %}
                <li class="muted">Aucun tag associé</li>
            {% endfor %}
        </ul>
	</dd>
</dl>
