{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

<div class="row">
  <div class="span12">
    {% include 'CSISEamBundle:Eam:flash.html.twig' %}
  </div>
</div>

<ul class="breadcrumb">
    <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
    <li><a href="{{ path('institution_show', {id: equipment.laboratory.institution.id}) }}">{{ equipment.laboratory.institution.name }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
    <li><a href="{{ path('laboratory_show', {id: equipment.laboratory.id}) }}">{{ equipment.laboratory.nameFr|slice }}</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
    <li class="active">{{ equipment.designation }}</li>
</ul>

<div class="row">
  <div class="span12">
    <div class="well">
      <h4>Fiche de l'équipement : {{ equipment.designation }}
        {% if is_granted("ROLE_GEST_EQUIP") %}
            <div class="pull-right">
                <a href="{{ path('equipment') }}" class="btn btn-default" data-toggle="tooltip" title="Retour à la liste des équipments">
                  <i class="icon-list-alt"></i> Liste des équipements
                </a>
            </div>
        {% endif %}
      </h4>
   
      {% include 'CSISEamBundle:Vitrine:card_equipment.html.twig' %}

      {% if is_granted('edit', equipment) %}
          <hr/>
          <div class="pull-right">
              <a class="btn btn-success" href="{{ path('equipment_edit', { 'id': equipment.id }) }}">
                <i class="icon-edit icon-white"></i> Éditer l'équipement
              </a>
              <a class="btn btn-info"  href="{{ path('equipment_edit_tags', { 'id': equipment.id }) }}">
                <i class="icon-tag icon-white"></i> Gérer les tags
              </a>
              <a class="btn btn-danger" href="{{ path('equipment_ask_delete', { 'id': equipment.id }) }}">
                  <i class="icon-trash icon-white"></i> Supprimer l'équipement
              </a>
          </div>
          <br />
      {% endif %}
      
    </div>
  </div>  
</div>

{% endblock %}