{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
<div class="row">
    
  <div class="span5 offset1">
    <h4>Mon Compte</h4>
     <ul>
      <li><a href="{{ path("fos_user_profile_show") }}">Voir mes informations</a></li>
      <li><a href="{{ path("fos_user_resetting_request") }}">Changer mon mot de passe</a></li>
     </ul>
    
    
     {% if is_granted("ROLE_GEST_PEOPLE") %}
    <hr />
    <h4>Gestion des Contacts et Utilisateurs</h4>
    <ul>
      <li><a href="{{ path('people') }}">Accéder à la liste des contacts</a></li>
      <li><a href="{{ path('people_new') }}">Créer un nouveau contact</a></li>
    </ul>
  {% endif %}

  {% if is_granted("ROLE_GEST_USER") %}
    <ul>
      <li><a href="{{ path("fos_user_registration_register") }}">Créer un nouvel utilisateur</a></li>
      <li><a href="{{ path("csis_user_index") }}">Administrer mes utilisateurs</a></li>
    </ul>
    {% endif %}
    
    {% if is_granted("ROLE_GEST_TAGS") %}
    <hr />
    <h4>Tags</h4>
    <ul>
      <li><a href="{{ path("tag") }}">Gestion des tags</a></li>
      <li><a href="{{ path("tag", {'onglet' : 'edit'}) }}">Demandes de tags en attentes</a> {% if waiting_tags is not null %}<span class="badge badge-important">{{ waiting_tags }}</span>{% endif %}</li>    
    </ul>
    {% endif %}

  {% if is_granted("ROLE_GEST_CATEGORY") %}
    <hr />
    <h4>Familles</h4>
    <ul>
        <li><a href="{{ path('category') }}">Accéder à la liste des familles</a></li>
        <li><a href="{{ path('category_new') }}">Créer une nouvelle famille</a></li>
    </ul>
  {% endif %}
    
  </div>

  <div class="span5">
  {% if is_granted("ROLE_GEST_ESTAB") %}
    <h4>Mes établissements</h4>
    <ul>
      <li><a href="{{ path('institution') }}">Accéder à la liste de mes établissements</a></li>
      <li><a href="{{ path('institution_new') }}">Créer un nouvel établissement</a></li>
    </ul>
  {% endif %}

  {% if is_granted("ROLE_GEST_LAB") %}
    {% if is_granted("ROLE_GEST_ESTAB") %}<hr />{% endif %}
    <h4>Mes laboratoires</h4>
    <ul>
      <li><a href="{{ path('laboratory') }}">Accéder à la liste de mes laboratoires</a></li>
      <li><a href="{{ path('laboratory_new') }}">Créer un nouveau laboratoire</a></li>
         </ul>
  {% endif %}

  {% if is_granted("ROLE_GEST_EQUIP") %}
    {% if is_granted("ROLE_GEST_ESTAB") or is_granted("ROLE_GEST_LAB") %}<hr />{% endif %}
    <h4>Mes équipements</h4>
    <ul>
      <li><a href="{{ path('equipment') }}">Accéder à la liste de mes équipements</a></li>
      <li><a href="{{ path('equipment_new') }}">Créer un nouvel équipement</a></li>
    </ul>
  {% endif %}
  </div>
    
</div>
{% endblock csis_body %}