{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}
<div class="row">

  <div class="span12">
      <ul class="breadcrumb">
          <li><a href="{{ path('vitrine') }}">Vitrine</a> <span class="divider"><i class="icon icon-chevron-right"></i></span></li>
          <li class="active">Administration</li>
      </ul>
  </div>

  <div class="span12 text-center">
    {% if app.user.lab %}
      <a class="btn btn-primary" href="{{ path('laboratory_show', {id: app.user.lab.id}) }}">
        Mon laboratoire
      </a>
    {% endif %}
    {% if app.user.institution %}
      <a class="btn btn-primary" href="{{ path('institution_show', {id: app.user.institution.id}) }}">
        Mon établissement
      </a>
    {% endif %}
    <hr/>
  </div>

  <div class="pull-center">
    <h4>{{ app.user.firstName }} {{ app.user.lastName }}</h4>
    {% if is_granted('ROLE_ADMIN') %}
      <p>
        Administrateur de la plateforme
      </p>
    {% endif %}
    {% if is_granted('ROLE_GEST_TAGS') %}
      <p>
        Gestionnaire des tags
      </p>
    {% endif %}
    {% if is_granted('ROLE_GEST_ESTAB') %}
      <p>
        Gestionnaire des établissements.
      </p>
    {% endif %}
    <p>
      {% if app.user.lab %}
        {% if is_granted('ROLE_GEST_EQUIP') %}
          Gestionnaire
        {% else %}
          Membre
        {% endif %}
        du laboratoire <a href="{{ path('laboratory_show', {id: app.user.lab.id}) }}">{{ app.user.lab }}</a>
      {% endif %}
      {% if app.user.institution %}
        {% if is_granted('ROLE_GEST_LAB') %}
          Gestionnaire
        {% else %}
          Membre
        {% endif%}
        de l'établissement {{ app.user.institution }}
      {% endif %}
    </p>
  </div>

  <div class="span5 offset1">
    <h4>Mon Compte</h4>
     <ul>
      <li><a href="{{ path("fos_user_profile_show") }}">Voir mes informations</a></li>
      <li><a href="{{ path("fos_user_resetting_request") }}">Changer mon mot de passe</a></li>
     </ul>

   {% if is_granted("ROLE_GEST_USER") %}
    <hr />
    <h4>Gestion des utilisateurs</h4>
    {% if waiting_users %}
       <p class="text-warning">
           {{ waiting_users }} utilisateur(s) en attente d'activation.
       </p>
    {% endif %}
    <ul>
      <li><a href="{{ path("fos_user_registration_register") }}">Créer un nouvel utilisateur</a></li>
      <li><a href="{{ path("csis_user_index") }}">Administrer les utilisateurs</a></li>
    </ul>
    {% endif %}
    
    {% if is_granted("ROLE_GEST_TAGS") %}
    <hr />
    <h4>Tags</h4>
    {% if waiting_tags %}
        <p class="text-warning">
            {{ waiting_tags }} tag(s) en attente de modération.
        </p>
    {% endif %}
    <ul>
      <li><a href="{{ path("tag") }}">Gestion des tags</a></li>
      <li><a href="{{ path("tag", {'onglet' : 'edit'}) }}">Demandes de tags en attentes</a></li>
    </ul>
    {% endif %}
  </div>

  <div class="span5">
  {% if is_granted("ROLE_GEST_ESTAB") %}
    <h4>Mes établissements</h4>
    <ul>
      <li><a href="{{ path('institution') }}">Accéder à la liste de mes établissements</a></li>
      <li><a href="{{ path('institution_new') }}">Créer un nouvel établissement</a></li>
    </ul>
  {% endif %}

  {% if is_granted("ROLE_GEST_LAB") %}
    {% if is_granted("ROLE_GEST_ESTAB") %}<hr />{% endif %}
    <h4>Mes laboratoires</h4>
    <ul>
      <li><a href="{{ path('laboratory') }}">Accéder à la liste de mes laboratoires</a></li>
      <li><a href="{{ path('laboratory_new') }}">Créer un nouveau laboratoire</a></li>
         </ul>
  {% endif %}

    <h4>Mes équipements</h4>
    <ul>
      <li><a href="{{ path('equipment') }}">Accéder à la liste de mes équipements</a></li>
      <li><a href="{{ path('equipment_new') }}">Créer un nouvel équipement</a></li>
    </ul>
  </div>
    
</div>
{% endblock csis_body %}